.nav-link {
	color: #fff;
    background-color: #495057;

    &:hover {
    	color: #e9ecef;
		background-color: #2E3543;
		border-color: #495057  !important;
    }

    &.active {
    	color: #495057;
    	background-color: #fff;
    }
}